<div class="jumbotron">
<div class="d-flex flex-column align-items-center">
  <h1 class="display-4" id="title">Alpha Blog</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <hr class="my-4">
  <p class="lead m-0">
  <a class="btn btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
  </p>
  </div>
</div>