@import "bootstrap/dist/css/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  min-height: 100%;
  width: 100%;
}

body{
  min-width: 200px;
  background-color: rgb(199, 191, 191);
  margin-bottom: 50px;
}
.navbar{
  background-color: #000 !important;
}

h1{
  color: #fff;
  font-weight: bold;
}
.navbar{
  height: auto;
}
.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
}
.nav-link,
.navbar-light .navbar-brand
{
  color: #fff !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
// hero
.jumbotron{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.jumbotron p{
  color: #fff;
  text-align: center;
}

#footer{
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}
#footer>p{
  margin:0;
}

.footer_link{
  text-decoration: none;
  color: #fff;
}
.footer_link:hover{
  transition-duration: 0.3;
  color: rgb(195, 215, 231);
}
#page-content{
  width: 100%;
  height: 100%;
}
// pagination styling
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  margin-bottom: 4rem;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
@media only screen and (max-width: 250px) {
  #page-content{
    height: 100vh;
  }
  .jumbotron{
    padding: 0;
  }

  .display-4, p, a {
    font-size: 1rem !important;
  }
}
