<footer id="footer" class="d-flex flex-column bg-dark text-white justify-content-center align-items-center">
    <p> Copyright &copy <%= link_to "K.M.", "https://karina-miernik.github.io/", class: "footer_link"%></p>
</footer>